__pycache__/
*.py[cod]
*$py.class

.venv/
venv/
env/
ENV/

build/
dist/
*.egg-info/
.eggs/
pip-wheel-metadata/

.pytest_cache/
.mypy_cache/
.ruff_cache/
.pyre/
.hypothesis/
.tox/
.nox/

.coverage
.coverage.*
htmlcov/

*.log
local_settings.py
db.sqlite3
*.sqlite3

staticfiles/

media/
prj/media/

.env
.env.*
*.env

.vscode/
.idea/
.DS_Store
Thumbs.db